/* GENERALES */
html{
    font-size: 62.5%;
}
body{
    width: 100rem;
    margin: 0 auto;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: beige;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
main{
    flex: auto;
    background-color: rgba(245, 245, 220, 0.97);
    color: black;
}
h2{
    margin-top: 7rem;
    font-size: 3.5rem;
    padding-left: 2rem;
}
.roboto_texto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.texto_italica{
    font-style: italic;
    line-height: 2.6rem;
    padding: 1rem 2rem;
}
.sombras:hover{
    box-shadow: 30px 30px 60px #b8b8b8, -30px -30px 60px #ffffff;
}
.sombras_auto{
    box-shadow: 30px 30px 60px #b8b8b8, 0px 0px 60px #ffffff;
}
.boton:hover{
    color: black;
    background-color: rgba(230, 214, 39, 0.745);
    transform: scale(1.02);
}
/* NAV */
.nav_principal{
    display: flex;
    background-color: rgb(255, 114, 6);
    max-width: 100rem;
}
.nav_principal a{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1.5rem;
    margin-right: 2rem;
    color: aliceblue;    
}
.nav_principal img{
    padding: .5rem;
}
.nav_principal a img:hover{
    transform: rotate(15deg) scale(1.2);
}
/* HEADER */
.header_index{
    display: flex;
    position: relative;
}
.header_index h1{
    box-sizing: border-box;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.845);
    margin: 0rem;
    font-size: 5rem;
    height: 100%;
    display: flex;
    align-items:end;
    padding: 0rem 1rem 25rem 2rem;
}
#logo_esferas{
    position: absolute;
    top: 20rem;
    left: 13rem;
}
#color{
    position: absolute;
    width: 100rem;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.287);
}
#video_header{
    margin-left: 20rem;
}
.header_index:hover #color{
    display: none;
}
/* MAIN */
#section_index{
    display: flex;
    align-items: baseline;
    column-gap: 3rem;
    padding-left: 2rem;
}
.info_serie{
    display: flex;
    column-gap: 3rem;
}
#boton_informacion{
    display: flex;
    align-items: center;
    border: 2px solid;
    color: black;
    padding: 1rem 1.5rem;
    border-radius: 7px;
}

#section_index p{
    background-color: rgb(248, 170, 2);
    padding: 1rem;
    border-radius: 1rem;
}
/* SECTION */
.main_index figure{
    margin: 3rem 0rem;
    padding: 0rem 1rem 5rem 1rem;
    border-radius: 7px;
    color: black;
}
.main_index h3{
    margin-top: 6rem;
    font-size: 2.5rem;
    background-color: brown;
    border-radius: 5px;
    color: aliceblue;
    padding: 1.5rem 1rem;
}
.index_figure p{
    color: black;
    margin: 3rem auto;
}
.index_figure figcaption{
    font-size: 2rem;
    text-align: center;
    margin: 4rem auto;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
.index_figure:hover h3{
    background-color:  rgba(235, 211, 29, 0.588);;
    color:  rgb(0, 0, 0);
    transform: scale(1.01);

}
.index_sagas{
    display: flex;
    border: 5px solid black;
    border-radius: 1rem;
}
.index_sagas div{
    width: 33.3%;
    border-right: none;
}
.index_sagas img{
    max-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}
.boton_episodios{
    display: block;
    width: 10%;
    margin: 0 auto;
    border: 2px solid;
    color: black;
    border-radius: 7px;
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
}
/*Canales Serie*/
#canales_serie{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: first baseline;
    gap: 15rem;
    margin: 7rem auto;
}
#canales_serie h3{
    background-color:beige;
    color: black;
    text-decoration: overline;
}
#canales_serie div{
    padding: 4rem 2rem;
    border-radius: 7px;
}
/*Calificaciones*/
.index_calificaciones{
    text-align: center;
    padding-bottom: 10rem;
}
.index_calificaciones h3{
    display: inline-block;
    margin: 3rem 0rem;
    background-color: cornflowerblue;
    font-size: 2rem;
    margin-top: 3rem;
}
.index_calificaciones img{
    width: 17%;
}
footer{
    background-color: black;
    color: aliceblue;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-around;   
}
footer div{
    width: 33.3%;
    gap: 0rem;
    text-align: center;
}
footer #one{
    padding-top: 2rem;
}
footer #two{
    display: flex;
    align-items: end;
}
footer img{
    max-width: 10%;
    margin-right: 2rem;
}
/* HISTORIA.HTML */
#info_akira{
    display: flex;
    margin: 0 auto;
    gap: 3rem;
    line-height: 2.5rem;
    padding: 2rem 2rem 6rem 2rem; 
}
#imagen_akira{
    width: 30%;
}
#imagen_dbz{
    text-align: center;
}
.ajustar_logo_historia{
    display: flex;
    gap: 1.5rem;
    text-transform: uppercase;
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding-left: 2rem;
}
.index_canciones{
    background: url(../img/fondo.jpg);
    background-size: cover;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 3rem;
    gap: 2rem;
}
.index_canciones_youtube{
    display: flex;
    justify-content: center;
    gap: 3rem;
    background: url(../img/fondo.jpg);
    padding: 3rem;
    border-radius: 7px;
}
.index_canciones iframe{
    height: 8rem;
}
.index_canciones h2{
    margin: 3rem;
}
/* PERSONAJES.HTML */
.main_personajes{
    width: 100%;
}
#personajes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
}
.cajas_personajes{
    border: 7px solid black;
    margin-right: 10rem;
    margin: 3rem;
    border-radius: 1rem;
}
.cajas_personajes:hover{
    transform: scale(1.1);
}
.cajas_personajes img{
    max-width: 100%;
    height: 21rem;
}
.nombres_personajes{
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
}
.descripcion_personaje{
    padding: .5rem;
    font-family:cursive;
    text-align: center;
}
/* NOVEDADES.HTML */
.main_novedades section{
    display: flex;
    gap: 2rem;
    margin-bottom: 5rem;
    padding: 3rem;
    border-radius: 7px;
}
.main_novedades section:hover{
    box-shadow: 30px 30px 60px #b8b8b8, -30px -30px 60px #ffffff;
}
.main_novedades img{
    border-radius: 5px;
}
.main_novedades a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid;
    border-radius: 1rem 2rem;
    background-color: azure;
    color: black;
    text-align: center;
}
.main_novedades a:hover{
    background-color: rgb(214, 214, 214);
    border: none;
}

/* ERROR.HTML */
.main_error{
    padding: 15rem 10rem;
    text-align: center;
}
.main_error a{
    border: 2px solid;
    color: black;
    border-radius: 7px;
    padding: 1rem;
}
.main_error a{
    border: 2px solid;
    color: black;
    border-radius: 7px;
    padding: 1rem;
}
.main_error a:hover{
    background-color: rgb(214, 214, 214);
    border: none;
}
/*CONTACTO.HTML*/
.formulario{
    padding-bottom: 5rem;
}
.main_contacto fieldset{
    margin: 1rem 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_contacto label{
    display: flex;
    gap: 3rem;
    margin-top: 4rem;
}
.boton_submit{
    margin-top: 3rem;
    padding:1rem 2rem;
    border-radius: 7px;
    background-color: burlywood;
    cursor: pointer;
}
.esfera_img{
    display: inline-flex;
}
.nube {
    position: fixed;
    width: 10rem;
    height: 6rem;
    border-radius: 40%;
    top: 50%;
    left: 0;
    animation: volar 10s linear infinite; 
    z-index: 20;
}

@keyframes volar {
    0% {
        left: 0;
        transform: translateX(0) translateY(50);
    }
    30% {
        right: 0vh;
        top: 80vh;
        transform: translateX(-100%) translateY(50); 
    }
    60% {
        left: 0vh;
        transform: translateX(-100%) translateY(50); 
    }
    80% {
        left: 100%;
        transform: translateX(-90%);
    }
}
.fondo_fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -3;
}
.girar{
    animation: girar 6s infinite;
}
@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(45deg); 
    }
    30% {
        transform: rotate(90deg);
    }
    45% {
        transform: rotate(135deg);
    }
    65% {
        transform: rotate(180); 
    }
    75% {
        transform: rotate(225);
    }
    90% {
        transform: rotate(270);
    }
}